<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gnustory.KakaoLinkPlugin" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>KakaoLinkPlugin</name>
    <description>
        gnustory kakao link cordova plugin
    </description>
    <author email="gnustory@naver.com" href="http://gnustory.blog.me/">
        gnustory
    </author>
    <content src="index.html" />
    <access origin="*" />
    
    <feature name="KakaoLinkPlugin">
        <param name="ios-package" value="KakaoLinkPlugin" />
        <!--<param name="android-package" value="com.gnustory.KakaoLinkPlugin.KakaoLinkPlugin" />-->
        <param name="onload" value="true" />
    </feature>

</widget>
