<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.gnustory.kakaolink" version="0.0.1">
    <name>KakaoLinkPlugin</name>
    <description>kakao link plugin</description>
    <license>adnstyle</license>

    <preference name="APP_KEY" />

    <keywords>cordova,KakaoLinkPlugin</keywords>
    <js-module src="www/js/KakaoLinkPlugin.js" name="KakaoLinkPlugin">
        <clobbers target="KakaoLinkPlugin" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="KakaoLinkPlugin">
                <param name="ios-package" value="KakaoLinkPlugin"/>
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="KAKAO_APP_KEY">
            <string>$APP_KEY</string>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>kakao$APP_KEY</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <header-file src="platforms/ios/KakaoLinkPlugin/Plugins/KakaoLinkPlugin.h" />
        <source-file src="platforms/ios/KakaoLinkPlugin/Plugins/KakaoLinkPlugin.m" />
        <framework src="QuartzCore.framework" />
        <framework src="platforms/ios/KakaoOpenSDK.framework" custom="true" />
    </platform>

    <!--<platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="KakaoLinkPlugin">
                <param name="android-package" value="com.gnustory.KakaoLinkPlugin.KakaoLinkPlugin"/>
            </feature>
        </config-file>

        <source-file src="platforms/android/res/values/kakao_strings.xml" target-dir="res/values" />
        <config-file target="res/values/kakao_strings.xml" parent="/*">
            <string name="kakao_app_key">$APP_KEY</string>
            <string name="kakao_scheme">kakao$APP_KEY</string>
            <string name="kakaolink_host">kakaolink</string>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="application">
            <meta-data android:name="com.kakao.sdk.AppKey" android:value="@string/kakao_app_key" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="application/activity/intent-filter">
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="@string/kakao_scheme" android:host="@string/kakaolink_host" />
        </config-file>

        &lt;!&ndash; copy kakao Lib project &ndash;&gt;
        <source-file src="platforms/android/google-play-services_lib" target-dir="./" />
        <source-file src="platforms/android/KakaoLib" target-dir="./" />

        <source-file src="platforms/android/src/com/gnustory/KakaoLinkPlugin/KakaoLinkPlugin.java"
                     target-dir="src/com/gnustory/KakaoLinkPlugin"/>
    </platform>-->
</plugin>